.cart-header {
  font-weight: 700;
  border-bottom: solid 1px #6669;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
}

.cart-items li {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}

.cart-items img {
  max-width: 120px;
}

.cart-items .title {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart-items .text {
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: space-between;
  width: calc(100% - 120px);
}

.cart-items button {
  color: var(--white);
  background-color: var(--red);
}

.cart-total{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #6669;
}

.cart-total button{
  padding: 1rem 6rem;
}