.products {
  align-items: center;
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.products ul {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto auto;
  column-gap: 5rem;
  row-gap: 5rem;
  margin: auto;
  min-width: 960px;
}

.products li {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.products .title {
  margin: 1rem 0 2rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products img {
  width: 100%;
}

.products .price {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

.products .price span,
.products .price button {
  flex: 1;
}
