@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --black: #212121;
  --white: #f0f0f0;
  --yellow: #f0c040;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body, input, select, button textarea {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

main {
  display: flex;
}

aside {
  flex: 1 20rem;
}