@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --black: #212121;
  --white: #f0f0f0;
  --yellow: #f0c040;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body, input, select, button textarea {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header, footer {
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  padding: .5rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: flex;
}

footer {
  grid-area: footer;
  justify-content: center;
}

aside {
  flex: 1 20rem;
}